
body {
  background-color: #87C3FF;
  min-height: 100vh;
  overflow-y: auto;
}

video {
  width: 100%;
  display: block;
}

.dog-title {
  font-family: "filmotype-yukon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #ffffff;
  text-align: center;
  margin: 200px auto 40px;
  animation: floatText 3s ease-in-out infinite,
  colorPulse 5s ease-in-out infinite;
}

@keyframes floatText {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

@keyframes colorPulse {
  0%, 100% { color: #ffffff; }
  30% { color: black; }
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.video-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.video-box {
  display: inline-block;
  width: 300px;
  border: 3px solid white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  animation: float 3s ease-in-out infinite;
  transition: transform 0.3s ease;
}

.video-box:hover {
  animation-play-state: paused;
  transform: scale(1.05);
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}


#notepadSection {
  margin: 60px auto;
  background: #f5e6c8;
  width: 60%;
  max-width: 700px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
}

#notepadSection h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}


.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

#colorPicker {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  padding: 0;
}

#clearBtn {
  padding: 8px 15px;
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#clearBtn:hover {
  background: #b52b27;
}

/* ----------------------------
   NOTEPAD INPUT
----------------------------- */
#notepad {
  width: 100%;
  height: 200px;
  background: #fffaf0;
  color: #000;
  border: 2px solid #d4c1a3;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  resize: vertical;
}


#messageBox {
  margin-top: 30px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.nav-btn {
  padding: 10px 20px;
  background: #444444;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px auto;
  font-size: 16px;
  display: block;
}

.nav-btn:hover {
  background: #222222;
}
