    body {
      background-image: url("lava bg.png");
    }
.rage-font {
  font-family: "grante", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 200px;
  color: white;
  text-align: center;
}
.rage-font {
  width: 70%;
  transition: width 2s;color: black;
  color: black;
  transform: scaleX(1.5); 
}

.rage-font:hover {
  width: 130%;
  transition: width 2s;color: white;
  transform: scaleX(1);
  transition: 
  transform 2s ease,
  color 2s ease;   
}
.Word-Breaker {
     font-family: "p22-mucha", sans-serif;
     font-weight: 500;
     font-style: normal;
     font-size: 70px;
     color: black;
     text-align: center;
    background-color:black;
    padding:10px;
  display:inline-block;
  color:white;
  border: 5px solid pink;
  border-radius: 5px;
  text-decoration:none;
}
.Word-Breaker:hover {
     font-family: "p22-mucha", sans-serif;
     font-weight: 500;
     font-style: normal;
     font-size: 70px;
     color: black;
     text-align: center;
    background-color:solid pink;
    padding:10px;
  display:inline-block;
  color:white;
  border: 5px black;
  border-radius: 10px;
  text-decoration:none;
  transition: 3s
}

.Brain-Itch {
  font-family: "p22-mucha", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
  color: black;
  text-align: center;
  background-color:black;
  padding:10px;
  display:inline-block;
  color:white;
  border: 5px solid pink;
  border-radius: 5px;
  text-decoration:none;
}
.Brain-Itch:hover {
     font-family: "p22-mucha", sans-serif;
     font-weight: 500;
     font-style: normal;
     font-size: 70px;
     color: black;
     text-align: center;
    background-color:solid pink;
    padding:10px;
  display:inline-block;
  color:white;
  border: 5px black;
  border-radius: 10px;
  text-decoration:none;
  transition: 3s
}

.Music{
    font-family: "p22-mucha", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 70px;
    color: black;
    text-align: center;
    background-color:black;
    padding:10px;
    display:inline-block;
    color:white;
    border: 5px solid pink;
    border-radius: 5px;
    text-decoration:none;
}
.Music:hover {
     font-family: "p22-mucha", sans-serif;
     font-weight: 500;
     font-style: normal;
     font-size: 70px;
     color: black;
     text-align: center;
    background-color:solid pink;
    padding:10px;
  display:inline-block;
  color:white;
  border: 5px black;
  border-radius: 10px;
  text-decoration:none;
  transition: 3s
}

.about-text {
     font-family: "fiona", sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 40px;
     color: black;
     text-align: center;
     display: block; color: #ffd43a;
     background-color: black
}
    .horizontal-list div{
      list-style: none;
      padding: 0;
      margin: 50px;
      display: inline-block;
    }
