body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
  padding-top: 60px;
  min-height: 100vh;
  overflow-y: auto;
}


#container {
  position: relative;
  width: 100%;
  min-height: 80vh;
  border: 0px solid red;
}


.debris-row {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  height: 50px;
}

.letter {
  display: inline-block;
  font-size: 50px;
  position: relative;
  transition: transform 1.2s ease-out;
  position: relative;
}
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; 
  z-index: -1;
}

.nav-btn {
  padding: 10px 20px;
  background: #444444;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  text-decoration: none;
  text-align: center;
}

.nav-btn:hover {
  background: #222222;
}
