body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
  padding-top: 60px;
  height: 100vh;
  overflow: hidden;
}


#container {
  position: relative;
  width: 100%;
  height: 80vh;
  border: 0px solid red;
}


.debris-row {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
}

.letter {
  display: inline-block;
  font-size: 50px;
  transition: transform 1.2s ease-out;
  position: relative;
}
